@{
    ViewData["Title"] = "Manager Dashboard";
    Layout = "LayoutManager";
}

<div class="container mt-4">
    <h2>Manager Dashboard</h2>
    <div class="row">

        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Manage Doctor and Patient</div>
                <div class="card-body">
                    
                  
                    <a asp-action="Users" class="btn btn-light">Manage Users</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header"> Appointments</div>
                <div class="card-body">
   
                   
                    <a asp-action="Appointment" class="btn btn-light">Manage Appointments</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">My Profile</div>
                <div class="card-body">
                    <h5 class="card-title">View or Edit Manager Info</h5>
                    <p class="card-text">Logged in as Manager</p>
                    <a asp-action="Profile" class="btn btn-light">View Profile</a>
                </div>
            </div>
        </div>

    </div>
</div>

