<div class="list-group mt-4">
    <a asp-action="Registration" asp-route-role="Admin" class="list-group-item list-group-item-action">
        <i class="fas fa-user-shield me-2"></i>Admin
    </a>
    <a asp-action="Registration" asp-route-role="Patient" class="list-group-item list-group-item-action">
        <i class="fas fa-user-injured me-2"></i>Patient
    </a>
    <a asp-action="Registration" asp-route-role="Manager" class="list-group-item list-group-item-action">
        <i class="fas fa-user-tie me-2"></i>Manager
    </a>
    <a asp-action="Registration" asp-route-role="Doctor" class="list-group-item list-group-item-action">
        <i class="fas fa-user-md me-2"></i>Doctor
    </a>
</div>